.main_view {
  // width: 100vw;
}

.search_container {
  max-width: 970px;
  min-height: 150px;
  margin: 20px auto;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.search_headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
.search_headline_right {
  font-size: 1.1rem;
}

h3 span {
  color: orange;
  border-bottom: 2px orange dotted;
  margin-left: 5px;
  cursor: pointer;
}

.notification_btn {
  flex-shrink: 0;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 600;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(34, 100%, 50%);
  color: hsl(34, 100%, 50%);
  background-color: white;
  cursor: pointer;
}

.notification_btn:hover {
  background-color: hsl(34, 100%, 50%);
  color: white;
}

.search_filters {
  position: relative;
  margin-top: 2em;
  padding: 0 1em;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-size: 1rem;
}
// input[type="date"] {
//   direction: rtl;
// }
/* filter input , filter button  */
input[type="text"],
input[type="number"],
input[type="date"],
.search_filters button,
.dropdown-filter {
  height: 2.7rem;
  background-color: white;
  border: 1px hsl(0, 3%, 85%) solid;
  padding: 0 0.5em;
  font-size: 0.9rem;
}

button,
.dropdown-filter {
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}

/* label above filter  */
.filter-box label {
  display: block;

  font-size: 0.9rem;
  line-height: 1.4rem;
}

.width-big {
  width: 190px;
}
.width-middle {
  width: 145px;
}
.width-small {
  width: 95px;
}

.buttons {
  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  margin-right: auto;
}

button i {
  margin-left: 0.3em;
}

.buttons .adviced_search_btn {
  border: none;
  background-color: lightgray;
  position: relative;
}
.orange_circle{
  width: 14px;
  height: 14px;
  background: orangered;
  border-radius: 50%;
  border: white solid 2px;
  position: absolute;
  top: -5px;
  left: 135px;
}
.buttons .adviced_search_btn:hover {
  background-color: hsla(0, 4%, 22%, 0.552);
}

.buttons .search_btn {
  border: none;
  background-color:  rgb(222, 93, 24);;
  color: white;
}

.buttons .search_btn:hover {
  background-color: hsl(39, 100%, 45%);
}
////////////////////////////////////////////////////////

.advanced_search_properties {
  color: hsl(0, 0%, 35%);
  margin-top: 1em;
  padding: 1em 2em;

  border-bottom: 1px solid gray;
}

.advanced_search_properties h4 {
  color: hsl(0, 0%, 15%);
}

.advanced_search_line {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 1em;

  input[type="checkbox"]:checked{
    accent-color:orangered!important
  }
}
.advanced_search_checkbox {
  margin-right: 1px;
  font-size: 20px;
}
.advanced_search_checkbox:hover {
  color: orange;
}
.advanced_search_checked {
  background: orange;
  color: white;
  font-size: 19px;
}
.check_item {
  width: 20%;
  padding-bottom: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.adv_search_middle {
  position: relative; //added relative 29.10.22

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  // padding: 10px 0;
  // margin: 0 20px;
  // border-bottom: 1px solid lightgray;
  // height: 150px;
  // background: pink;
}

.adv_search_middle_item {
  padding: 0 0.3em;
  // height: 50px;
  background: white;
  // width: 30%;
  // min-width: 120px;
  display: flex;
  flex-direction: column;
  input[type="text"]{
  border-left: none;
  border-right: none;
  }
}

.adv_search_input_container {
  display: flex;
  margin-top: 0.3em;

  // max-width: 250px;
  // flex-wrap: wrap;
  // }
  .adv_search_input {
    margin: 0 0.2em;
  }
  input[type="checkbox"]{
    width: 15px!important;
    height: 15px!important;
    vertical-align:text-top!important;

  }
  // input[type="checkbox"]:checked{
  //   accent-color:orangered!important
  // }



}
input[type="checkbox"]{
  width: 15px!important;
  height: 15px!important;
  vertical-align:text-top!important;


}

input[type="checkbox"]:hover{

  // -webkit-appearance:none!important;

  // outline: 1px solid orangered !important;
  // border: 1px solid orangered!important;
  outline: 1px solid orangered!important;
  // accent-color:orangered!important;
  border: 1px solid orangered!important;
}
input[type="checkbox"]:checked
{
  // -moz-appearance:none;
  // -webkit-appearance:inherit!important;
  // -o-appearance:none;
  // outline: 1px solid orangered !important;
  accent-color:orangered!important;
  border:1px solid orangered!important;
}



.adv_search_container.long {
  margin-top: 0.3em;

  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    margin-right: 0.5em;
    line-height: 2.7em;
    // height: 100%;
    // line-height: 2em;

    // line-height: 2.5rem;
  }
  // max-width: 320px;
  // flex-wrap: wrap;
  // white-space: nowrap;
}

.adv_search_input {
  display: flex;
  align-items: center;
  input[type="checkbox"]{
    width: 18px;
    height: 18px;
  }
  input[type="checkbox"]:checked{
    accent-color:orangered!important
  }
}

.no_border {
  border: none !important;
}

.adv_search_bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  // color: hsl(0, 0%, 35%);

  // padding: 10px 0;
  // margin: 0 20px;
  // border-bottom: 1px solid lightgray;
  // height: 150px;
  // background: pink;
  // padding-bottom: 20px;
  // border-bottom: 1px solid gray;
  .adv_search_input input {
    width: 330px;
  }
  .adv_search_input_container {
    display: flex;
    // width: 100%;
    // max-width: 900px;
    align-items: center;
    // gap: 5px;
    // color: gray;

    .adv_search_input {
      border: 1px hsl(0, 3%, 85%) solid;
      margin-left: 1em;
    }

    span {
      display: inline-block;
      margin: 0 0.3em;
      line-height: 2.5em;

      color: hsl(0, 0%, 75%);
    }
  }
}

.adv_search_result {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  // padding: 10px 0;
  // margin: 0 20px;
  // border-bottom: 1px solid lightgray;
  // height: 150px;
  // background: pink;
  // padding-bottom: 20px;
  // border-bottom: 1px solid gray;
  border: none;
  justify-content: space-between;
  button{

    outline: none;
  }
}
.adv_search_result_button {
  display: flex;
  width: 80px;
  height: 40px;
  background: #ff7100;
  color: white;
  align-items: center;
  justify-content: center;
  border: none;
}

.adv_search_result_clear {
  justify-self: end;
  padding-left: 30px;
}
// to remove arrows from input number
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     // -webkit-appearance: none;
//     margin: 0;
// }
.adv_search_result_clear:hover {
  justify-self: end;
  padding-left: 30px;
  cursor: pointer;
}
.margin_right_auto{
  margin-right:auto ;
}
