<div class="main_view">
  <div class="search_container">
    <div class="search_headline">
      <h3>איזה נכס ל<span>מכירה</span> תרצו לחפש?</h3>
      <button class="notification_btn" type="button">
        <i class="fa-regular fa-bell"></i>
        <span>קבלו התראות במייל על החיפוש</span>
      </button>
    </div>

    <form [formGroup]="basicSearch" (ngSubmit)="submitBasicSearch()">
      <div  class="search_filters">
        <div class="filter-box">
          <label for="general_loc">חפשו אזור, עיר, שכונה,או רחוב</label>
          <input formControlName="location" class="width-big" id="general_loc"type="text"  placeholder="לדוגמא: נחלאות" />
        </div>

        <div class="filter-box width-middle" (click)="onClickProperties()">
          <label for="">סוג נכס</label>
          <div class="dropdown-filter">
            <span *ngIf="numberOfAssetsChecked ===0">בחרו סוגי נכסים</span>
            <span *ngIf="numberOfAssetsChecked !==0">{{numberOfAssetsChecked}} סוגי נכסים</span>
            <i class="fa-solid black_color margin_right_auto"
              [ngClass]="!propertiesShow ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
          </div>
        </div>

        <app-filter-appartment-kind *ngIf="propertiesShow"
          [appartments]="chosenAppTypes" [houses]="chosenHousesTypes" [other]="chosenOtherTypes"
          (transferNumberChecked)="passNum($event)" (transferAppartTypes)="passAppType($event)"
          (transferHouseTypes)="passHouseType($event)" (transferOtherTypes)="passOtherType($event)"></app-filter-appartment-kind>

        <div class="filter-box width-small" (click)="onClickRooms()">
          <label for="">חדרים</label>
          <div class="dropdown-filter">
            <span *ngIf="chosenMinRooms===0 && chosenMaxRooms===13">חדרים</span>
            <span *ngIf="chosenMinRooms!==0 && chosenMaxRooms!==13" >{{chosenMaxRooms}}-{{chosenMinRooms}}</span>
            <span *ngIf="chosenMinRooms===0 && chosenMaxRooms!==13">עד- {{chosenMaxRooms}}</span>
            <span *ngIf="chosenMinRooms!==0 && chosenMaxRooms===13">מ- {{chosenMinRooms}}</span>
            <i class="fa-solid black_color margin_right_auto"
              [ngClass]="!roomsFilterShow ? 'fa-chevron-down' : 'fa-chevron-up'"></i>
          </div>
        </div>

        <app-filter-rooms *ngIf="roomsFilterShow"
        [startingRoom]="chosenMinRooms" [finalRoom]="chosenMaxRooms" [startingText]="chosenMinRooms" [finalText]="chosenMaxRooms"
          (transferMinRooms)="passMinRoom($event)" (transferMaxRooms)="passMaxRoom($event)"></app-filter-rooms>

          <input formControlName="chosenMinRooms" style="display:none ;" type="text" value={{chosenMinRooms}} >
          <input formControlName="chosenMaxRooms" style="display:none ;" type="text" value={{chosenMaxRooms}} >

        <div class="filter-box">
          <label for="">מחיר</label>
          <input class="width-small" type="text" name="from" id="min-price" placeholder="מ-"
              formControlName="min_price" separator />
          <input class="width-small" type="text" name="to" id="max-price" placeholder="עד-"
              formControlName="max_price" separator />
        </div>


        <div class="buttons">
          <button class="adviced_search_btn width-middle" (click)="onClickAdvancedSearch()"  type="button">
            <span *ngIf="numberPreferencesChosen!==0"  class="orange_circle"></span>
            <i class="fa-solid fa-circle-plus"></i>
            <span>חיפוש מתקדם</span>
            <span *ngIf="numberPreferencesChosen!==0">({{numberPreferencesChosen}})</span>
          </button>

          <button class="search_btn width-small" type="submit" (click)="submitBasicSearch()">
            <i class="fa-solid fa-magnifying-glass"></i>
             <span> חיפוש </span>
          </button>
        </div>
      </div>
    </form>


    <form [formGroup]="advancedSearch" (ngSubmit)="submitAdvancedSearch()">
      <div  *ngIf="advancedSearchShow" class="advanced_search_container">

        <div class="advanced_search_properties">

          <h4>מאפייני דירה</h4>


          <div class="advanced_search_line">

            <span class="check_item" (click)="onClickPref(0)">
              <input formControlName="parking"  type="checkbox"/>חניה

            </span>

            <span class="check_item" (click)="onClickPref(1)">
              <input  formControlName="elevator" type="checkbox"/>מעלית

            </span>
            <span class="check_item" (click)="onClickPref(2)">
              <input  formControlName="airConditioner" type="checkbox"/>מיזוג

            </span>
            <span class="check_item" (click)="onClickPref(3)">
              <input  formControlName="balcony" type="checkbox"/>מרפסת

            </span>
            <span class="check_item" (click)="onClickPref(4)">
              <input  formControlName="shelter" type="checkbox"/>ממ"ד

            </span>
            <span class="check_item" (click)="onClickPref(5)">
              <input  formControlName="grating" type="checkbox"/>סורגים

            </span>
            <span class="check_item" (click)="onClickPref(6)">
              <input  formControlName="storage" type="checkbox"/>מחסן

            </span>
            <span class="check_item" (click)="onClickPref(7)">
              <input  formControlName="handicapped" type="checkbox"/>גישה לנכים

            </span>
            <span class="check_item" (click)="onClickPref(8)">
              <input  formControlName="renovated" type="checkbox"/>משופצת

            </span>
            <span class="check_item" (click)="onClickPref(9)">
              <input  formControlName="furnitured" type="checkbox"/>מרוהטת

            </span>
            <span class="check_item" (click)="onClickPref(10)">
              <input  formControlName="exclusive" type="checkbox"/>בבלעדיות

            </span>
          </div>
        </div>

        <div class="adv_search_middle advanced_search_properties">
          <div class="adv_search_middle_item">
            <span>קומה</span>
            <div class="adv_search_input_container">
              <div class="adv_search_input dropdown-filter"(click)="onClickStartFloor()">
                <input formControlName="minFloor" class="width-small" type="text" placeholder="מ-" value="{{chosenMinFloor}}"/>
                <i class="fa-solid" [ngClass]="startingFloorListShow ? 'fa-chevron-up' : ' fa-chevron-down'"></i>
              </div>
              <div class="adv_search_input dropdown-filter" (click)="onClickFinalFloor()">
                <input formControlName="maxFloor" class="width-small" type="text" placeholder="עד-" value="{{chosenMaxFloor}}" />
                <i class="fa-solid" [ngClass]="finalFloorListShow ? 'fa-chevron-up' : ' fa-chevron-down'"></i>
              </div>
            </div>
          </div>

          <app-filter-floor [chosenMaxFloorC]="chosenMaxFloor" [chosenStartFloor]="chosenMinFloor"
           (transferMinFloor)="passMinFloor($event)"
          *ngIf="startingFloorListShow"></app-filter-floor>
          <app-filter-floor2 [chosenMinFloorC]="chosenMinFloor" [chosenFinishFloor]="chosenMaxFloor"
          (transferMaxFloor)="passMaxFloor($event)" *ngIf="finalFloorListShow"></app-filter-floor2>

          <div class="adv_search_middle_item">
            <span>גודל הדירה (במ"ר)</span>
            <div>
              <div class="adv_search_input_container">
                <div class="adv_search_input dropdown-filter">
                  <input formControlName="minArea" class="width-small" type="text" placeholder="מ-" separator />
                </div>

                <div class="adv_search_input dropdown-filter">
                  <input formControlName="maxArea" class="width-small" type="text" placeholder="עד-" separator/>
                </div>
              </div>
            </div>
          </div>
          <div class="adv_search_middle_item">
            <span>תאריך כניסה</span>
            <div>
              <div class="adv_search_container long">
                <div class="adv_search_input">

                  <input formControlName="entrDate" #date type="date" (change)="onDateClick()"
                  name="appartmentEntrance" placeholder="החל מ- הזינו תאריך"/>
                  <!-- [(ngModel)]="appartementEntrance" -->
                </div>
                <div class="adv_search_input">
                  <input formControlName="flexEntr" #flexEntr type="checkbox" (change)="onFlexEntrClick()"
                  placeholder="כניסה מיידית" />
                  <span>כניסה מיידית</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="adv_search_bottom advanced_search_properties">
          <div class="adv_search_middle_item">
            <span>חיפוש חופשי</span>
            <div class="adv_search_input_container">
              <div class="adv_search_input">
                <input formControlName="freeText" type="text" placeholder="" />
              </div>

              <input type="checkbox" disabled />
              <span>הצגת מושבים וקיבוצים בלבד</span>
              <span>
                <i class="fa-regular fa-circle-question"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="adv_search_result advanced_search_properties">
          <div></div>
          <button class="adv_search_result_button" type="submit" (click)="submitAdvancedSearch()">
            <div>חיפוש</div>
          </button>
          <div (click)="onClickClear()" class="adv_search_result_clear">נקה</div>
        </div>

      </div>
    </form>
  </div>
</div>
