
<div class="main_view">
  <div class="search_container">
    <div class="search_headline">
      <h3 class="search_headline_right">
        איזה נכס ל
        <span class="search_headline_link"> מכירה </span>
        תרצו לחפש?
      </h3>
      <!-- <div class="search_headline_left">
        <i class="fa-regular fa-bell"></i>
        <div class="font_size">קבלו התראות במייל על החיפוש</div>
      </div> -->

      <button class="notification_btn" type="button">
        <i class="fa-regular fa-bell"></i>
        <span>קבלו התראות במייל על החיפוש</span>
      </button>
    </div>

    <!-- <div class="search_titles">
      <div class="search_input_w">חפשו אזור, עיר, שכונה,או רחוב</div>
      <div class="search_app_kind_w">סוג נכס</div>
      <div class="search_rooms_w">חדרים</div>
      <div class="search_rooms_w">מחיר</div>
    </div> -->

    <div class="search_filters">
      <div class="search_input">
        <input
          class="search_input_w"
          type="text"
          placeholder="לדוגמא: נחלאות"
        />
      </div>

      <div class="search_app_kind_w" (click)="onClickProperties()">
        <div class="search_app_kind gray_color">
          בחרו סוגי נכסים
          <i
            class="fa-solid black_color margin_right_auto"
            [ngClass]="!propertiesShow ? 'fa-chevron-down' : 'fa-chevron-up'"
          ></i>
        </div>
      </div>

      <app-filter-appartment-kind
        *ngIf="propertiesShow"
      ></app-filter-appartment-kind>

      <div class="search_rooms_w" (click)="onClickRooms()">
        <div class="search_rooms gray_color">
          חדרים
          <i
            class="fa-solid black_color margin_right_auto"
            [ngClass]="!roomsFilterShow ? 'fa-chevron-down' : 'fa-chevron-up'"
          ></i>
        </div>
      </div>
      <app-filter-rooms *ngIf="roomsFilterShow"></app-filter-rooms>

      <div class="search_price_w">
        <div class="search_rooms gray_color">מ-</div>
        <div class="search_rooms gray_color">עד-</div>
      </div>

      <!-- buttons  -->
      <div class="buttons">
        <button
          class="adviced_search_btn"
          onclick="onClickAdvancedSearch()"
          type="button"
        >
          <i class="fa-solid fa-circle-plus"></i>
          <span>חיפוש מתקדם</span>
        </button>
        <button class="search_btn" type="button">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>חיפוש</span>
        </button>

        <!-- <div
          class="advanced_search_button_container"
          (click)="onClickAdvancedSearch()"
        >
          <i class="fa-solid fa-circle-plus"></i>
          <span>חיפוש מתקדם</span>
        </div>

        <div class="search_button_container">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span>חיפוש </span>
        </div> -->
      </div>
    </div>

    <div *ngIf="advancedSearchShow" class="advanced_search_container">
      <div class="advanced_search_properties">
        <h4 style="margin-right: 30px">מאפייני דירה</h4>
        <div class="advanced_search_line">
          <span class="check_item" (click)="onClickParking()">
            <i
              *ngIf="!parking"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="parking"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>חניה</span>
          </span>
          <span class="check_item" (click)="onClickLift()">
            <i
              *ngIf="!lift"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="lift"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>מעלית</span>
          </span>
          <span class="check_item" (click)="onClickAirCondition()">
            <i
              *ngIf="!airCondition"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="airCondition"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>מיזוג</span>
          </span>
          <span class="check_item" (click)="onClickBalcony()">
            <i
              *ngIf="!balcony"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="balcony"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>מרפסת</span>
          </span>
          <span class="check_item" (click)="onClickShelter()">
            <i
              *ngIf="!shelter"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="shelter"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>ממ"ד</span>
          </span>
          <span class="check_item" (click)="onClickGrating()">
            <i
              *ngIf="!grating"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="grating"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>סורגים</span>
          </span>
          <span class="check_item" (click)="onClickStorage()">
            <i
              *ngIf="!storage"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="storage"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>מחסן</span>
          </span>
          <span class="check_item" (click)="onClickHandicapped()">
            <i
              *ngIf="!handicapped"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="handicapped"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>גישה לנכים</span>
          </span>
          <span class="check_item" (click)="onClickRenovated()">
            <i
              *ngIf="!renovated"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="renovated"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>משופצת</span>
          </span>
          <span class="check_item" (click)="onClickFurnitured()">
            <i
              *ngIf="!furnitured"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="furnitured"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>מרוהטת</span>
          </span>
          <span class="check_item" (click)="onClickExclusive()">
            <i
              *ngIf="!exclusive"
              class="advanced_search_checkbox fa-regular fa-square"
            ></i>
            <i
              *ngIf="exclusive"
              class="advanced_search_checked fa-solid fa-check"
            ></i>
            <span>בבלעדיות</span>
          </span>
        </div>
      </div>

      <div class="adv_search_middle">
        <div class="adv_search_middle_item">
          <div>קומה</div>
          <div>
            <div class="adv_search_input_container">
              <div class="adv_search_input" (click)="onClickStartFloor()">
                <input type="text" placeholder="מ-" />
                <i class= "fa-solid"
                    [ngClass]="startingFloorListShow ? 'fa-chevron-up' : ' fa-chevron-down'"></i>
              </div>
              <div class="adv_search_input" (click)="onClickFinalFloor()">
                <input type="text" placeholder="עד-" />
                <i class= "fa-solid "
                [ngClass]="finalFloorListShow ? 'fa-chevron-up' : ' fa-chevron-down'"></i>
              </div>
            </div>
          </div>
        </div>

        <app-filter-floor *ngIf="startingFloorListShow"></app-filter-floor>
      <app-filter-floor2 *ngIf="finalFloorListShow"></app-filter-floor2>

        <div class="adv_search_middle_item">
          <div>גודל הדירה (במ"ר)</div>
          <div>
            <div class="adv_search_input_container">
              <div class="adv_search_input">
                <input type="text" placeholder="מ-" />
              </div>
              <div class="adv_search_input">
                <input type="text" placeholder="עד-" />
              </div>
            </div>
          </div>
        </div>
        <div class="adv_search_middle_item">
          <div>תאריך כניסה</div>
          <div>
            <div class="adv_search_container_long">
              <div class="adv_search_input">
                <input
                  type="date"
                  name="appartmentEntrance"
                  [(ngModel)]="appartementEntrance"
                  placeholder="החל מ- הזינו תאריך"
                />
              </div>
              <div class="adv_search_input">
                <input type="checkbox" placeholder="כניסה מיידית" />כניסה מיידית
                <!-- <span>כניסה מיידית</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- added from here by DS -->
      <div class="adv_search_bottom">
        <div class="adv_search_middle_item">
          <div>חיפוש חופשי</div>
            <div class="adv_search_input_container">
              <div class="adv_search_input">
                <input type="text" placeholder="">
              </div>
                <input type="checkbox" disabled>
                <span>הצגת מושבים וקיבוצים בלבד</span>
                <span>
                  <i class="fa-regular fa-circle-question"></i>
                </span>
            </div>
        </div>
      </div>
      <div class="adv_search_result">
        <div></div>
        <div class="adv_search_result_button">
          <div>חיפוש</div>
        </div>
        <div class="adv_search_result_clear">נקה</div>
      </div>
    </div>
  </div>
</div>
