.main_view {
  width: 100vw;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

.search_container {
  // width: 970px;
  max-width: 970px;
  min-height: 150px;

  // margin-top: 20px;
  margin: 20px auto;
  padding: 1em 0;

  background: lightblue;
  // text-align: center;

  display: flex;
  flex-direction: column;

  border-bottom: 1px solid gray;
}

.search_headline {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2em;
}
.search_headline_right {
  // width: 75%;
  font-size: 20px;
  // display: flex;
}

.search_headline_link {
  // text-decoration: dotted;
  color: orange;
  border-bottom: 2px orange dotted;
  margin-left: 5px;

  cursor: pointer;
}
// .search_headline_left {
//   padding: 7px;
//   border: 2px solid orange;
//   display: flex;
//   font-size: 16px;
//   gap: 10px;
//   color: orange;
// }

.notification_btn {
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 500;

  border-width: 1px;
  border-style: solid;
  border-color: orange;

  color: orange;
  background-color: white;

  cursor: pointer;
}

.notification_btn:hover {
  background-color: var(--clr-orange-accent);
  color: white;
}

// .font_size {
//   font-size: 13px;
// }

.search_filters {
  // width: 100%;
  position: relative;
  margin-top: 2em;
  padding: 0 1em;
  // margin-right: 20px;
  // margin-bottom: 10px;

  display: flex;
  flex-wrap: wrap;

  font-size: 14px;
  gap: 10px;
  // text-align: start;
}

/* filter input , filter button  */
input,
.dropdown_button {
  border-width: 1px;
  // border-color: var(--clr-border-grey);
  border-style: solid;

  height: 2.8em;
  padding: 0 0.7em;

  font-size: 0.9rem;

  // color: var(--clr-text-grey);
  background-color: white;
}

.search_input_w {
  max-width: 200px;
}

.search_app_kind_w {
  max-width: 170px;
}

.search_rooms_w {
  width: 100px;
}
.search_input {
  width: 200px;
  height: 40px;
  border: 1px gray solid;
  display: flex;
  align-items: center;
  justify-self: center;
}
.search_app_kind {
  height: 40px;
  width: 108px;
  border: 1px gray solid;
  display: flex;
  align-items: center;
  justify-self: center;
  background: white;
  padding-right: 5px;
  padding-left: 5px;
}
.black_color {
  color: black;
}
.gray_color {
  color: gray;
}
.margin_right_auto {
  margin-right: auto;
}
.search_rooms {
  width: 88px;
  height: 40px;
  border: 1px gray solid;
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
  background: white;
}
.search_price_w {
  width: 200px;
  display: flex;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  margin-right: auto;
}

button {
  height: 2.8em;
  padding: 0 0.7em;
  border: none;

  font-size: 0.8rem;

  color: var(--clr-text-grey);
  background-color: white;

  cursor: pointer;
}

.adviced_search_btn {
  background-color: gray;
  color: var(--clr-text);

  width: var(--width-middle);
}

.adviced_search_btn:hover {
  background-color: var(--clr-btn-bg-active);
}

.search_btn {
  background-color: orange;
  color: white;

  width: var(--width-thin);
}

.search_btn:hover {
  background-color: var(--clr-orange-accent--hover);
}

// .advanced_search_button_container {
//   width: 130px;
//   height: 40px;

//   background: grey;
//   display: flex;
//   align-items: center;
//   justify-items: center;
//   gap: 10px;

//   padding-right: 10px;
//   padding-left: 10px;
//   padding: 0.2em;
// }

// .search_button_container {
//   width: 80px;
//   height: 40px;
//   background: orange;
//   display: flex;
//   align-items: center;
//   justify-items: center;
//   gap: 10px;
//   padding-right: 15px;
//   padding-left: 10px;
//   color: white;
// }
// .advanced_search_container {
//   width: 970px;
//   background: lightblue;
//   display: flex;
//   flex-direction: column;
//   font-family: Arial, Helvetica, sans-serif;
// }

.advanced_search_line {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
}
.advanced_search_checkbox {
  margin-right: 1px;
  font-size: 20px;
}
.advanced_search_checkbox:hover {
  color: orange;
}
.advanced_search_checked {
  background: orange;
  color: white;
  font-size: 19px;
}
.check_item {
  width: 20%;
  padding-bottom: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.advanced_search_properties {
  border-bottom: 1px solid gray;
}
.adv_search_middle {
  position: relative; //added relative 29.10.22
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
  height: 150px;
  background: pink;
}
.adv_search_middle_item {
  height: 50px;
  background: white;
  // width: 30%;
  // min-width: 120px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  margin-left: 15px;
  // flex-wrap: wrap;
  //     flex-grow: 4;
  //     flex-shrink: 1;
  //     flex-basis: 0%;
}
.adv_search_input_container {
  display: flex;
  max-width: 250px;
  // flex-wrap: wrap;
}
.adv_search_input {
  display: flex;
  // flex-wrap: wrap;
  // width:120px;
  padding: 10px;
  background: white;
  border: 1px solid gray;
  margin-left: 5px;
  align-items: center;

  input[type="checkbox"] {
    width: 1.1rem !important;
    height: 1.1rem !important;
    margin: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 1px solid gray;
    box-shadow: none;
    font-size: 1.1rem;
    text-align: center;
    line-height: 1.1rem;
    // background: orange;
  }
  input[type="date"] {
    direction: rtl;
  }
  input[type="checkbox"]:checked:after {
    width: 1.2rem !important;
    height: 1.2rem !important;
    // outline: 1px solid gray;
    content: "\2713"; //'✔';
    color: white;
    background: orange;
  }

  input {
    border: none;
    width: 80%;
  }
  // input[type='checkbox']:checked:after {
  //   content: '\2713';color: white;
  // }
  input:focus {
    outline: none;
  }
}
.adv_search_container_long {
  display: flex;
  max-width: 320px;
  // flex-wrap: wrap;
  white-space: nowrap;
}
.no_border{
  border: none !important;
}
.adv_search_bottom{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
  // height: 150px;
  background: pink;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  .adv_search_input input{
    width:330px ;
  }
  .adv_search_input_container{
    width:100%;
    max-width: 900px;
    align-items: center;
    gap:5px;
    color: gray;
  }
}
.adv_search_result{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  padding: 10px 0;
  margin: 0 20px;
  border-bottom: 1px solid lightgray;
  // height: 150px;
  background: pink;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
  justify-content: space-between;
}
.adv_search_result_button{
  display: flex;
  width: 80px;
  height: 40px;
  background: orange;
  color: white;
  align-items: center;
  justify-content: center;
}
.adv_search_result_clear{
  justify-self: end;
  padding-left: 30px;
}
