<app-modale *ngIf="modaleShow"></app-modale>
<div class="header">
  <div class="right_header">
    <div class="logo-wrapper">
      <img src="../../../assets/imgs/yad2Logo.png" alt="img" class="logo" />
    </div>

    <!-- menu  -->
    <div class="header_hamburger" (click)="onClickModale()">
      <div>
        <i class="fa-solid fa-bars"></i>
      </div>
      <span class="appear_after880">תפריט</span>
    </div>

    <div class="header_tabs">
      <div class="tab"(mouseenter)="onOverRealEstate()"
        (mouseleave)="onOverRealEstate()">
        <a href="#" class="tabs tabs--active">נדל"ן</a>

        <app-real-estate-menu *ngIf="realEstateShow"></app-real-estate-menu>
      </div>

      <div class="tab" (mouseenter)="onOverCars()" (mouseleave)="onOverCars()">
        <a href="#" class="tabs">רכב</a>

        <app-car-menu *ngIf="carShow"></app-car-menu>
      </div>

      <div class="tab" (mouseenter)="onOverSecondHand()"
        (mouseleave)="onOverSecondHand()">
        <a href="#" class="tabs">יד שנייה</a>

        <app-second-hand-menu *ngIf="secondHandShow"></app-second-hand-menu>
      </div>

      <div class="tab"(mouseenter)="onOverDemanded()"
        (mouseleave)="onOverDemanded()">
        <a href="" class="tabs">דרושים IL</a>
        <app-demanded-menu *ngIf="demandedShow"></app-demanded-menu>
      </div>

      <div class="tab" (mouseenter)="onOverBussines()"
        (mouseleave)="onOverBussines()" >
        <a href="#" class="tabs">עסקים למכירה</a>
        <app-bussines-for-sale-menu *ngIf="bussinesShow"></app-bussines-for-sale-menu>
      </div>

      <div class="tab" (mouseenter)="onOverPets()" (mouseleave)="onOverPets()">
        <a href="#" class="tabs">חיות מחמד</a>

        <app-pets-menu *ngIf="petsShow"></app-pets-menu>
      </div>

      <div class="tab" (mouseenter)="onOverProffesionals()" (mouseleave)="onOverProffesionals()">
        <a href="#" class="tabs">בעלי מקצוע</a>

        <app-proffesionals-menu *ngIf="proffesionalsShow"></app-proffesionals-menu>
      </div>

      <div class="tab" (mouseenter)="onOverMore()" (mouseleave)="onOverMore()">
        <a href="#" class="tabs">עוד...</a>
        <app-more-menu *ngIf="moreShow"></app-more-menu>
      </div>
    </div>
  </div>

  <!-- left side  -->
  <div class="header_left">
    <div class="header_icons">
      <a href="#" class="header_middle_tabs appear_until1260">
        <i class="fa-regular fa-comment-dots"></i>
      </a>

      <a  href="#" class="header_middle_tabs appear_after880"
        (mouseenter)="onOverNotice()" (mouseleave)="onOverNotice()">
        <i class="fa-regular fa-bell"></i>
        <span class="header_middle_tabs_content">התראות</span>
        <app-notice-menu *ngIf="noticeShow"></app-notice-menu>
      </a>


      <a href="#" class="header_middle_tabs"
        (mouseenter)="onLikeShow()" (mouseleave)="onLikeShow()">
        <i class="fa-regular fa-heart"></i>
        <span class="header_middle_tabs_content">מודעות שאהבתי</span>
        <app-liked-menu *ngIf="likedShow"></app-liked-menu>
      </a>



      <a href="#" class="header_middle_tabs appear_after880"
        (mouseenter)="onUserMenu()" (mouseleave)="onUserMenu()">
        <i class="fa-regular fa-user"></i>
        <span class="header_middle_tabs_content">שם משתמש</span>
          <app-user-menu *ngIf="userMenuShow"></app-user-menu>
      </a>
    </div>



    <div class="header_left_items">
      <i class="fa-regular fa-plus"></i>
      <span>פרסום מודעה חדשה</span>
    </div>
  </div>
</div>
