.main_view{
    display: flex;
  flex-direction: column;
  align-items: center;

}
.main_content{
  max-width: 970px;
  width: 100%;
  margin: 20px auto;
  padding: 1em 0;;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  // border: 1px solid gray;
  @media (max-width: 880px) {
    display: block;
  }

}
.appartements_list{
  height: 100%;
  width: 100%;
  // border: 1px solid gray;

}
.advertise{
  height: 100%;
  width: 250px;
  @media (max-width: 880px) {
    display: none;
  }
}
