.main_view{
  // width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_content{
  max-width: 970px;
  width: 100%;
  margin: 20px auto;
  padding: 1em 0;;
  height: 100%;
  background: red;
  display: grid;
  grid-template-columns: 3fr 1fr;
  @media (max-width: 880px) {
    display: block;
  }

}
.appartements_list{
  background: green;
  height: 100%;
  width: 100%;

}
.advertise{
  background: blue;
  height: 100%;
  width: 250px;
  @media (max-width: 880px) {
    display: none;
  }
}
