
<div class="main_view">
  <section class="main_content">

    <main class="appartements_list" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()">

      <app-appartments-list (transferSortChoice)="passSortChoice($event)" [sortOption]="sortBy"
          [filterWithPicturesOnly]="filterWithPictures" [filterWithPriceOnly]="filterWithPrice"
          (transferFilterPrice)="passFilterPrice($event)" (transferFilterPictures)="passFilterPictures($event)"></app-appartments-list>

          <app-appartement-post
            [appartement] = "appartement" *ngFor="let appartement of appartementListToShow|sortPipe:sortBy; let i = index"
          ></app-appartement-post>

    </main>
    <aside class="advertise"></aside>
  </section>
</div>


