<div class="container">
  <div class="rooms_line" (click)="onClickStartRoomChoice()">

    <div [ngClass]="startingText ==='מ-' ? 'placehold': 'regular'" >
            {{startingText}}</div>
    <i class="fa-solid  black_color margin_right_auto"
              [ngClass]="!startingRoomListShow ? 'fa-chevron-down': 'fa-chevron-up'" ></i>
  </div>
  <div class="rooms_line" (click)="onClickFinalRoomChoice()">
    <div [ngClass]="finalText ==='עד-' ? 'placehold': 'regular'" >
            {{finalText}}</div>
    <i class="fa-solid black_color margin_right_auto"
              [ngClass]="!finalRoomListShow ? 'fa-chevron-down': 'fa-chevron-up'" ></i>
  </div>
  <div class="right_list" *ngIf="startingRoomListShow">
    <div (click)="onClickAll(1)" class="list_item">הכל</div>
    <div  *ngFor="let room of rooms" (click)="onClickRoom(1 , room)">
      <div class="list_item" *ngIf="room<=finalRoom">{{room}}</div>
    </div>
  </div>
  <div class="left_list" *ngIf="finalRoomListShow">
    <div (click)="onClickAll(2)" class="list_item">הכל</div>
    <div  *ngFor="let room of rooms" (click)="onClickRoom(2 , room)">
      <div class="list_item" *ngIf="room>=startingRoom">{{room}}</div>
    </div>

  </div>

</div>

