*{
  box-sizing:border-box;

  margin: 0;
  padding: 0;
}
:host{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background: white;
  @media (min-width:880px) {
    width: 880px;
    gap: 50px;
  }
}
.stages_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}


.form_container{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background: white;
  @media (min-width:880px) {
    width: 880px;
    gap: 10px;
  }
}
.post_stage_title{
  display: flex;
  width: 100%;
  font-size: 1.5rem;
  align-items: center;
  padding-bottom: 20px;
  gap: 20px;
  div{
    display: flex;
    align-items:center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: green;
    border: 2px green solid;
    border-radius: 50%;
    font-size: 1rem;
  }

}
.post_stage_sec_title{
  width: 100%;
  font-size: 1.1rem;
  font-weight: 500;
}
.line_title{
  width: 100%;
  font-size: 1.1rem;
  @media (min-width:680px) {
    font-size: 0.8rem;
  }
}
.post_stage_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  width: 45%;
  border: 1px gray solid;
  i{
    font-size: 4rem;
  }
  @media (min-width:880px) {
    width: 20%;
  }

}
.post_stage_item:hover{
  border: 1px orange solid;
  span{  color: orange;
  }
}

.lightgray{
  color:lightgray;
  background:  rgba(255, 255, 255, 0.633);
}
.green{
  color: green;
  background: lightgreen;
  border: none !important;
}
.post_stage_form{
  display: flex;
  flex-direction: column;
}
.form_input{
  width: 100%;
  height: 40px;
  padding: 0 10px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  @media (min-width:680px) {
    width: 262px;
    font-size: 1rem;
  }
}
.post_input_section{
  width: 100%;
}
.font_size07{
  font-size: 0.7rem!important;
}
.form_input_house{
  width: 50%;
  height: 40px;
  padding: 0 10px;
  font-size: 1.2rem;
  @media (min-width:680px) {
    width:102px;
  }
}
.asset_floors{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  @media (min-width:680px) {
    width:70%;
  }
}
.asset_details_floors{
  input{
    height: 40px;
    width: 100%;

  }
  width: 46%;
  @media (min-width:680px) {
    width:30%;
  }
}
.button_container{
  display: flex;
  justify-content: space-between;
}
.button_back{
  height: 35px;
  padding: 10px 30px;
  border-radius: 15px;
  border: lightgray 1px solid;
  background: white;
}
.button_continue{
  height: 35px;
  padding: 10px 30px;
  border-radius: 15px;
  border: orangered 1px solid;
  background: white;
  color: orangered;
}
.button_continue:hover{
  background: orangered;
  color: white;
}
.button_back:hover{
  background: orangered;
  color: white;
}
.show_till620{
  display: block;
  @media (min-width:620px){
    display: none;
  }
}
.show_after620{
  display: none;
  @media (min-width:620px){
    display: block;
  }
}
.input_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  @media (min-width:680px){
    width: 30%;
  }
}
.input_radio{
  // width: calc("25%-2px");
  width: 25%;
  border: 1px black solid;
  height: 50px;
  padding-top: 10px;

}
.post_stage{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  gap: 20px;
  background: white;
  @media (min-width:680px) {
    width: 640px;
  }
}
.icons_item{
  display: flex;
  gap: 5px;
  width:45%;
  border: 1px gray solid;
  border-radius: 20px;
  height: 40px;
  align-items: center;
  padding-right: 10px;
  @media (min-width:680px) {
    width: 138px;
  }
}
.icons_item:hover{
  color: orangered;
}
.input_container_color{
  position: relative;
  width: 75%;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}
.color_bar{
  height: 100%;
  position: absolute;
  background: red;
  border-radius: 50%;
  right: 0px;
}

.text_title{
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  input{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
  }
  div{

  }
  @media (min-width:680px) {
    width: 40%;
  }
}
textarea{
  width: 100%;
  font-size: 1rem;
  padding-top: 20px;
  text-align: center;
  @media (min-width:680px) {
    width: 45%;
  }
}
.textline{
  width: 100%;
  font-size: 0.8rem;
  @media (min-width:680px) {
    width: 45%;
  }
}
.input_radio_line{
  position: relative;
  display: flex;
  input{

  appearance: none;
  -webkit-appearance: none;
    width: 50px;
    height: 50px;
  border-radius: 0%;
  border: 1px solid rgb(17, 16, 16);

  }
  input:checked{
    background-color: lightgray;
  }
}
.first_num{
  position: absolute;
  top: 15px;
  left:162px;
}
.second_num{
  position: absolute;
  top: 15px;
  left:121px;
}
.third_num{
  position: absolute;
  top: 15px;
  left:72px;
}
.fourth_num{
  position: absolute;
  top: 15px;
  left:22px;
}
.error_message{
  color: red;
}
