<div class="header_open_menu">
  <div class="open_menu_list">
    <a href="#">כל המוצרים</a>
    <a href ="#">מוצרי חשמל</a>
    <a href="#">ריהוט</a>
    <a href="#">עסקים למכירה</a>
    <a href="#">ספורט</a>
    <a href="#">סלולרי</a>
    <a href="#">לתינוק ולילד</a>
    <a href="#">הכל בחינם!</a>
  </div>

  <div class="open_menu_list" >
    <div class="menu_list" >
      <a href="#">קונסולות משחק</a>
    </div>

    <div class="menu_list">
      <a href="#">מחשבים וציוד נלווה</a>
    </div>

    <div class="menu_list">
      <a href="#">לגינה</a>
    </div>

    <div class="menu_list">
      <a href="#">אופנה וטיפוח</a>
    </div>

    <div class="menu_list">
      <span>
        <i class="fa-solid fa-gift"></i>
      </span>
      <a href="#">יד2 מכל הלב</a>
    </div>
  </div>

</div>

