<footer class="root">
  <p class="seo_text">
    מחפשים דירות למכירה ? בלוח נכסים למכירה של יד2 תמצאו בקלות ובמהירות. מאגר
    הנכסים למכירה הענק והעדכני שלנו עומד לרשותכם - כל שעליכם לעשות הוא להקליד את
    פרטי הנכס שמעניין אתכם (מחוז, אזור, ישוב, סוג נכס, מספר חדרים וכו') ומנוע
    החיפוש שלנו יסנן עבורכם את המודעות הרלוונטיות ביותר. מחפשים דירה למכירה
    באזור ספציפי? לחצו על "הצג על גבי מפה" ובחרו באזור הגיאוגרפי שבו אתם
    מעוניינים למצוא דירה למכירה. המערכת תסמן עבורכם את מיקומי הדירות הזמינות,
    ותוכלו להקליק על כל סימון כדי לצפות במודעה ובפרטי ההתקשרות עם המוכר.
  </p>

  <div class="navigation_links desktop_only">
    <div class="section">
      <h4>נדל"ן</h4>
      <ul>
        <li>מכירה</li>
        <li>השכרה</li>
        <li>השכרה</li>
        <li>כונס נכסים</li>
        <li>דירות חדשות</li>
        <li>
          Yazer - בונים <br />
          החלטות חכמות
        </li>
        <li>
          Yadata - <br />
          הערכת שווי נכס
        </li>
        <li></li>
      </ul>
    </div>

    <div class="section">
      <h4>רכב</h4>
      <!-- column  -->
      <div class="two_columns">
        <ul>
          <li>כל הרכבים</li>
          <li>מסחרי</li>
          <li>ג'יפים</li>
          <li>משאיות</li>
          <li>אופנועים</li>
          <li>קטנועים</li>
          <li>כלי שייט</li>
          <li>מיוחדים</li>
        </ul>
        <!-- //// -->
        <ul>
          <li>אביזרים</li>
          <li>מכרזים וכינוס</li>
          <li>מחירון רכב</li>
          <li>מימון רכב</li>
        </ul>
      </div>
    </div>

    <div class="section">
      <h4>יד שנייה</h4>
      <ul>
        <li>לכל המוצרים</li>
        <li>ריהוט</li>
        <li>סלולר</li>
        <li>הכל בחינם</li>
        <li>בזאר יד שנייה</li>
      </ul>
    </div>

    <div class="section">
      <h4>חיות מחמד</h4>
      <ul>
        <li>כללי</li>
        <li>כלבים</li>
        <li>חתולים</li>
        <li>תוכים ובעלי כנף</li>
        <li>דגים</li>
        <li>זוחלים</li>
      </ul>
    </div>

    <div class="section">
      <h4>נותני שירות</h4>
      <ul>
        <li>מורים פרטיים</li>
        <li>תיירות ונופש</li>
      </ul>
    </div>
  </div>

  <!-- social links  -->
  <div class="social_links">
    <a class="link" target="_blank" href="https://www.youtube.com">
      <img src="../../../assets/imgs/youtube.png" alt="youtube" srcset="" />
    </a>
    <a class="link" target="_blank" href="https://www.facebook.com">
      <img src="../../../assets/imgs/facebook.png" alt="facebook" srcset="" />
    </a>
    <a class="link" target="_blank" href="https://play.google.com">
      <img
        src="../../../assets/imgs/google-play.png"
        alt="google-play"
        srcset=""
      />
    </a>
    <a class="link" target="_blank" href="https://www.apple.com">
      <img src="../../../assets/imgs/apple.png" alt="apple" srcset="" />
    </a>
  </div>

  <!-- copyright  -->
  <p class="copyright">
    כל הזכויות שמורות לחברת קורל תל מפעילות לוח יד2 - לוח מודעות: דרושים IL,
    דירות להשכרה, בתים למכירה, בתים להשכרה, העברת בתים, הובלות אין לעשות שימוש
    בכל התכנים המופיעים בלוח יד2.
  </p>
  <p class="copyright">
    <a
      href="https://www.flaticon.com/free-icons/social-network"
      title="social network icons"
      >Social network icons created by riajulislam - Flaticon</a
    >
  </p>
  <p class="copyright">
    <a href="https://www.flaticon.com/free-icons/apple" title="apple icons"
      >Apple icons created by Freepik - Flaticon</a
    >
  </p>
  <p class="copyright">
    <a
      href="https://www.flaticon.com/free-icons/playstore"
      title="playstore icons"
      >Playstore icons created by NajmunNahar - Flaticon</a
    >
  </p>

  <hr />
  <nav class="footer_menu"></nav>

  <nav class="menu">
    <a href="#" class="link_item">תקנון</a>
    <a href="#" class="link_item">הצהרת נגישות</a>
    <a href="#" class="link_item">מדיניות פרטיות</a>
    <a href="#" class="link_item">מפת האתר</a>
    <a href="#" class="link_item">צור קשר</a>
    <a href="#" class="link_item">קריירה ביד2</a>
  </nav>

  <a href="#" class="version"> גירסה: pro </a>
</footer>
