<div class="container">
  <div class="appartements_filter">
    <div class="appartements_filter_right">
      <div>מיין לפי</div>
      <div class="appartments_main_filter_container" (click)="onClickMainSort($event)">
        <div>{{sortBy}}</div>
        <i class= "fa-solid fa-chevron-down"></i>
            <div *ngIf="mainSortShow" class="app_main_filter_check">
              <div class="app_check_line" (click)="onClickSortDate($event)">
                <input type="radio" name="sortBy" id="date" value=sortByDate checked>
                <label for="sortBy">{{sortValues[0]}} </label>
              </div>
              <div class="app_check_line" (click)="onClickSortPriceLow($event)" >
                <input type="radio" name="sortBy" id="priceFromLow" value=sortByPriceLow  >
                <label for="sortBy">{{sortValues[1]}}</label>
              </div>
              <div class="app_check_line" (click)="onClickSortPriceHigh($event)">
                <input type="radio" name="sortBy" id="priceFromHigh" value=sortByPriceHigh >
                <label for="sortBy">{{sortValues[2]}}</label>
              </div>
            </div>
      </div>
    </div>

    <div class="appartements_filter_left" >
      <div class= "appartements_filter_container" (click)="onClickSecondarySort()">
        <i class="fa-solid fa-filter"></i>
        <span>סנן תוצאות</span>
      </div>
      <div class="appartements_filter_container">
        <i class="fa-solid fa-location-dot"></i>
        <span>תצוגת מפה</span>
      </div>
      <div *ngIf="secondarySortShow" class="secondary_filter" >
        <div class="appartements_filter_line" (click)="onClickFilterPrice()">
          <input #checkboxes type="checkbox">עם מחיר
        </div>
        <div class="appartements_filter_line" (click)="onClickFilterPicture()">
          <input #checkboxes type="checkbox">עם תמונה
        </div>
        <div class="secondary_filter_last_line" (click)="onClearFilterChoice()">
          <button [ngStyle]="{'disabled': (filterWithPriceOnly||filterWithPicturesOnly)? true:false}">ניקוי</button>
          <span class="orange_color" (click)="onClickFilter()">סינון </span>
    </div>
  </div>
</div>
