:host{
  position: absolute;
  top:70px;
  left:350px;
  width: 170px;
  height: 85px;
  background: white;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 1px 4px 9px 5px rgba(0,0,0,0.29);
}
.notice_menu {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  gap: 15px;
  align-items: center;
}
.notice_title{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.notice_content{
  display: flex;
}
