
<form  [formGroup]="assetPictures" (ngSubmit)="onSubmitPictures()">
  <div class="form_container">
    <div class="post_stage_title">
      <div class="post_stage_title_item">
        <i class="fa-solid fa-5"></i>
      </div>
      <span>תמונות וסרטונים</span>
    </div>

    <div class="message_container">
      <i class="fa-regular fa-lightbulb"></i>
      <div>
        לא לדאוג, גם אם רואים את התמונה באופן לא ברור כעת, לאחר הפרסום הכל יראה כמו שצריך</div>
    </div>

    <div >
      <div>ידעת שמודעות עם תמונות ברורות מקבלות פי 10 יותר פניות?</div>
      <div>לא להסס להעלות לפה תמונות (אפשר עד 10 + וידאו) ולהבליט את הצדדים הטובים ביותר של הנכס</div>
    </div>


    <div class="pictures_input_line">
        <div class="picture_input_item">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <img src="https://yad2upload.cdnwiz.com/newupload/icons/video.jpg" alt="video">
            <span>העלאת סרטון</span>
          </div>
        </div>
        <div class="picture_input_item gray_border">
          <div class="gray_background_title">תמונה ראשית</div>
          <div class="picture_input_item no_border">
            <input type="file" title="העלאת סרטון" style="visibility: hidden">
            <div class="img_title">
              <i class="fa-solid fa-plus"></i>
              <span>העלאת תמונות</span>
            </div>
          </div>
        </div>
      </div>
      <div class="section_end"></div>
      <div class="line_title">מ"ר בנוי</div>
      <div class="pictures_input_line">

        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
        </div>
        <div class="picture_input_item ">
          <input type="file" title="העלאת סרטון" style="visibility: hidden">
          <div class="img_title">
            <i class="fa-solid fa-plus"></i>
            <span>העלאת תמונות</span>
          </div>
      </div>
    </div>
    <div class="section_end no_border"></div>

    <div class="post_input_section ">
      <div class="button_container">
        <button class="button_back">חזרה</button>
        <button class="button_continue" type="submit">
          <span class=" show_till620">המשך</span>
          <span class="show_after620">להמשיך לשלב הבא</span>
        </button>
      </div>
    </div>
  </div>
</form>
