<div class="header">
  <div class="right_header">
    <div>
      <img src='../../../assets/imgs/yad2Logo.png' alt="img" class="logo">
    </div>
  </div>

  <div class="header_tabs">
    <div class="tabs">נדל"ן</div>
    <div class="tabs">רכב</div>
    <div class="tabs">יד שנייה</div>
    <div class="tabs">דרושים IL</div>
    <div class="tabs">עסקים למכירה</div>
    <div class="tabs">חיות מחמד</div>
    <div class="tabs">בעלי מקצוע</div>
    <div class="tabs">עוד...</div>
  </div>

  <div class="header_icons">
    <div>
      <a href="#" >
        <i class="fa-regular  fa-comment-dots"></i>
      </a>
    </div>
    <div>
      <a href="#" >
        <i class="fa-regular fa-bell"></i>
      </a>
    </div>
    <div>
      <a href="#" >
        <i class="fa-regular fa-heart"></i>
      </a>
    </div>
    <div>
      <div class="header_user">
        <a href="#">
        </a>
      </div>
    </div>
  </div>

  <div class="header_left">
    <div class="header_left_items">
      <i class="fa-regular fa-plus "></i>
      <div>פרסום מודעה חדשה</div>
    </div>

  </div>

</div>
