:host{
  position: absolute;
  top:70px;
  right: 150px;
  width: 430px;
  height: 250px;
  background: white;
  border-radius: 5px;
  box-shadow: 1px 4px 9px 5px rgba(0,0,0,0.29);
  border: 1px solid gray;
  line-height: 20px;    //added
  z-index: 5;
}
.header_open_menu {
  padding-top: 10px;
  display: flex;
  z-index: 5;
}
.open_menu_list{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap:15px;
  padding-right: 20px;

}
.menu_list{
  display: flex;
  gap: 7px;
  align-items: center;
}
img{
  height: 18px;
}
a{
  text-decoration:none;
  color: black;
}
a:hover{
  color: orange;
}
