<div class="header_open_menu">
  <div class="open_menu_list">
    <a href="#">חיפוש עבודה</a>
    <a href="#">פרסום משרות</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
  </div>

  <div class="open_menu_list" >
    <a href="#">חיפוש עבודה</a>
    <a href="#">פרסום משרות</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
    <a href="#">בלה בלה</a>
  </div>

</div>

