<header class="newpost_header">
  <div class="header_right">
    <a routerLinkActive="active" routerLink="/home">
      <img src="../../../assets/imgs/yad2Logo.png" alt="logo" >
    </a>
    <div class="header_logo_text">פרסום מודעה חדשה</div>
  </div>
  <div class="header_left">
    <div class="header_user">
      <i class="fa-regular fa-user"></i>
      <span *ngIf="currentUser===undefined">user name</span>
      <span *ngIf="currentUser!==undefined">{{currentUser.name}} {{currentUser.surname}}</span>
    </div>
    <div class="header_question">
      <i class="fa-regular fa-circle-question"></i>
    </div>
    <div class="header_contact">צור קשר</div>
    <div class="close_circle" (click)="onClickQuit()">
      <span class="close_text">יציאה</span>
      <i class="fa-solid fa-x"></i>
    </div>
  </div>
</header>

<body>
  <div class="stages_container">
<!-- consider create component to present closed stages with array and index -->
    <!-- item 1 -->
    <div *ngIf="showFirstStage" class="post_stage lightgray" (click)="onClickForSale()">
      <div class="post_stage_title">
        <div class="post_stage_title_item  green">
          <i class="fa-solid fa-v "></i>
        </div>
        <span>אני רוצה למכור נכס</span>
        <span class="edit_icon" >
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
      </div>
    </div>

    <div *ngIf="!showFirstStage" class="post_stage">
      <div class="post_stage_title">
        <div >
          <i class="fa-solid fa-1"></i>
        </div>
        <span>באיזו קטגוריה נפרסם היום?</span>
      </div>
      <div class="post_stage_item" (click)="onClickForSale()">
        <i class="fa-solid fa-house-user"></i>
        <span>מכירה</span>
      </div>
      <div class="post_stage_item">
        <i class="fa-solid fa-house"></i>
        <span>השכרה</span>
      </div>
      <div class="post_stage_item">
        <i class="fa-solid fa-key"></i>
        <span>שותפים</span>
      </div>
      <div class="post_stage_item">
        <i class="fa-solid fa-hotel"></i>
        <span>מסחרי</span>
      </div>
    </div>


      <!-- item 2    -->
    <form [formGroup]="assetAdressForm"  #formAssetAdress = "ngForm" (ngSubmit)="onSubmitAdressForm()">
      <div *ngIf="!showSecondStage" class="post_stage lightgray">
        <div class="post_stage_title">
          <div *ngIf="!completedSecondStage" class="post_stage_title_item full_width">
            <i class="fa-solid fa-2"></i>
          </div>
          <div *ngIf="completedSecondStage" class="post_stage_title_item full_width green">
            <i class="fa-solid fa-v "></i>
          </div>
          <span>כתובת הנכס</span>
          <span *ngIf="completedSecondStage" class="edit_icon" (click)="onEditSecond()" >
            <i class="fa-regular fa-pen-to-square"></i>
          </span>
        </div>
      </div>

      <div *ngIf="showSecondStage" class="post_stage ">
        <div class="post_stage_title">
          <div class="post_stage_title_item">
            <i class="fa-solid fa-2"></i>
          </div>
          <span>כתובת הנכס</span>
        </div>
        <div class="post_stage_sec_title">
          סימנו עבורך את שדות החובה. שלא נפספס פרט חשוב
        </div>
        <div class="post_input_section">
          <div class="post_stage_sec_title">סוג הנכס* </div >
          <select class="form_input" formControlName="assetType"
          [style.border]="!assetAdressForm.get('assetType')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''">
            <option  value="" disabled hidden selected >דירה או אולי פנטהאוז?</option>
            <option  ngValue="{{ type }}"  *ngFor="let type of assetTypes; let i = index">{{ type }}</option>
          </select>
          <span *ngIf="!assetAdressForm.get('assetType')!.valid && formAssetAdress.submitted" class="error_message">שדה חובה</span>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">מצב הנכס* </div >
            <select  class="form_input" formControlName="assetCondition"
            [style.border]="!assetAdressForm.get('assetCondition')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''">
              <option value="" selected disabled hidden >משופץ? חדש מקבלן?</option>
              <option ngValue="{{ condition }}" *ngFor="let condition of assetCondition; let i = index">{{ condition }}</option>
            </select>
            <span *ngIf="!assetAdressForm.get('assetCondition')!.valid && formAssetAdress.submitted" class="error_message">שדה חובה</span>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">יישוב*</div >
            <input formControlName="assetCity"
              [style.border]="!assetAdressForm.get('assetCity')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''"
              class="form_input" placeholder="איפה נמצא הנכס?" type="text"  id="assetCity">
            <span *ngIf="!assetAdressForm.get('assetCity')!.valid && formAssetAdress.submitted" class="error_message">יש לרשום שם היישוב</span>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">רחוב*</div >
            <input class="form_input" placeholder="הכנסת שם הרחוב" type="text"  id="assetStreet" formControlName="assetStreet"
            [style.border]="!assetAdressForm.get('assetStreet')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''">
            <div class="post_stage_sec_title font_size07">המידע הזה מגיע מגוף ממשלתי. אם הרחוב שלך לא מופיע, מומלץ לבחור רחוב קרוב אליך</div>
            <div class="post_stage_sec_title font_size07">לא מצאת את הרחוב?</div>
            <span *ngIf="!assetAdressForm.get('assetStreet')!.valid && formAssetAdress.submitted" class="error_message">יש לרשום שם הרחוב</span>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">מס' בית*</div >
            <input class="form_input_house"  type="text"  id="assetHouse" formControlName="assetHouse"
            [style.border]="!assetAdressForm.get('assetHouse')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''">
            <span *ngIf="!assetAdressForm.get('assetHouse')!.valid && formAssetAdress.submitted" class="error_message">שדה חובה צריך להיות מספר</span>
        </div>


        <div class="post_input_section">
          <div class="asset_floors">
            <div class="asset_details_floors">
              <div>קומה*</div>
              <input type="text"  id="assetFloorNum" placeholder="הכנסת מספר קומה" formControlName="assetFloorNum"
              [style.border]="!assetAdressForm.get('assetFloorNum')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''" >
              <span *ngIf="!assetAdressForm.get('assetFloorNum')!.valid && formAssetAdress.submitted" class="error_message">שדה חובה צריך להיות מספר</span>
            </div>

            <div class="asset_details_floors">
              <div >סה"כ קומות בבניין*</div>
              <input type="text"  id="assetNumOfFloorsBuilding" placeholder='הכנסת סה"כ קומות' formControlName="assetNumOfFloorsBuilding"
              [style.border]="!assetAdressForm.get('assetNumOfFloorsBuilding')!.valid && formAssetAdress.submitted ? '1px solid #ff0000':''" >
              <span *ngIf="!assetAdressForm.get('assetNumOfFloorsBuilding')!.valid && formAssetAdress.submitted" class="error_message">שדה חובה צריך להיות מספר</span>

            </div>
            <div>
              <br>
              <br>
              <input type="checkbox" id="assetOnColumns" formControlName="assetOnColumns"> על עמודים
            </div>
          </div>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">שכונה</div >
            <input class="form_input"  type="text"  id="assetNeighbourhood" formControlName="assetNeighbourhood">
            <div class="post_stage_sec_title font_size07">המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי</div>
        </div>

        <div class="post_input_section">
          <div class="post_stage_sec_title">אזור מכירה</div >
            <input class="form_input" placeholder="בחירת אזור מכירה"  type="text"  id="assetSaleArea" formControlName="assetSaleArea">
            <div class="post_stage_sec_title font_size07">המידע הזה מגיע מגוף ממשלתי ולא ניתן לשינוי</div>
        </div>

        <div class="post_input_section ">
          <input type="checkbox"> אני רוצה לקבל עדכון חודשי במייל עם הערכת שווי מעודכנת עבור הנכס, עסקאות באזור והצעות מקצועיות מיועצי נדל"ן
        </div>

        <div class="post_input_section">
          <div class="button_container">
            <button class="button_back" (click)="onClickBackStage2()">חזרה</button>
            <button class="button_continue" type="submit">
              <span class=" show_till620">המשך</span>
              <span class="show_after620">להמשיך לשלב הבא</span>
            </button>
          </div>
        </div>
      </div>
    </form>


<!-- part3 -->
    <div *ngIf="!showThirdStage" class="post_stage lightgray">
      <div class="post_stage_title">
        <div *ngIf="!completedThirdStage" class="post_stage_title_item">
          <i class="fa-solid fa-3"></i>
        </div>
        <div *ngIf="completedThirdStage" class="post_stage_title_item full_width green">
          <i class="fa-solid fa-v "></i>
        </div>
        <span>על הנכס</span>
        <span *ngIf="completedThirdStage" class="edit_icon" (click)="onEditThird()"  >
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
      </div>
    </div>

    <app-asset-details (transferClose3Stage)="passShowThirdStage($event)"
      (transferComplete3Stage)=" passCompleteThirdStage($event)" *ngIf="showThirdStage"></app-asset-details>

<!-- part4 -->
    <div *ngIf="!showFourthStage" class="post_stage lightgray">
      <div class="post_stage_title">
        <div  *ngIf="!completedFourthStage"class="post_stage_title_item">
          <i class="fa-solid fa-4"></i>
        </div>
        <span>תשלומים, תאריכים ועוד</span>
        <span *ngIf="completedFourthStage" class="edit_icon" (click)="onEditFourth()" >
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
      </div>
    </div>

    <app-post-payments (transferClose4Stage)="passShowFourthStage($event)"
    (transferComplete4Stage)=" passCompleteFourthStage($event)" *ngIf="showFourthStage"></app-post-payments>
<!-- part5 -->
    <div *ngIf="!showFifthStage" class="post_stage lightgray">
      <div class="post_stage_title">
        <div *ngIf="!completedFifthStage" class="post_stage_title_item">
          <i class="fa-solid fa-5"></i>
        </div>
        <span>תמונות וסרטונים</span>
        <span *ngIf="completedFifthStage" class="edit_icon" (click)="onEditFifth()" >
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
      </div>
    </div>

    <app-form-add-pictures (transferClose5Stage)="passShowFifthStage($event)"
    (transferComplete5Stage)=" passCompleteFifthStage($event)" *ngIf="showFifthStage"></app-form-add-pictures>
<!-- part6 -->
    <div *ngIf="!showSixthStage" class="post_stage lightgray">
      <div class="post_stage_title">
        <div *ngIf="!completedSixthStage" class="post_stage_title_item">
          <i class="fa-solid fa-6"></i>
        </div>
        <span>פרטים ליצירת קשר</span>
        <span *ngIf="completedSixthStage" class="edit_icon" (click)="onEditSixth()" >
          <i class="fa-regular fa-pen-to-square"></i>
        </span>
      </div>
    </div>

    <app-form-contact-details [userName]="currentUser!.name" [phoneNumber]="currentUser!.phone"
    (transferComplete6Stage)=" passCompleteSixthStage($event)" *ngIf="showSixthStage"></app-form-contact-details>
<!-- part7 -->
    <div *ngIf="!showSevenStage" class="post_stage lightgray">
      <div class="post_stage_title">
        <div *ngIf="!completedSevenStage" class="post_stage_title_item">
          <i class="fa-solid fa-7"></i>
        </div>
        <span>בחירת מסלול</span>
      </div>
    </div>

    <app-form-final-stage *ngIf="showSevenStage"></app-form-final-stage>
  </div>
</body>
