<div class="header_open_menu">
  <div class="open_menu_list">
    <a href="#">כל הרכבים</a>
    <a href ="#">מסחרי</a>
    <a href="#">ג'יפים</a>
    <a href="#">אופנועים</a>
    <a href="#">קטנועים</a>
    <a href="#">מיוחדים</a>
    <a href="#">אביזרים</a>
    <a href="#">משאיות</a>
    <a href="#">כלי שייט</a>
  </div>

  <div class="open_menu_list" >
    <div class="menu_list" >
      <i class="fa-solid fa-car-side"></i>
      <a href="#">קטלוג רכבים</a>
    </div>

    <div class="menu_list">
      <span>
        <i class="fa-solid fa-cart-shopping"></i>
      </span>
      <a href="#">מחירון רכב</a>
    </div>

    <div class="menu_list">
      <span>
        <i class="fa-regular fa-calendar-check"></i>
      </span>
      <a href="#">מכרזים וכינוס</a>
    </div>

    <div class="menu_list">
      <span>
        <i class="fa-solid fa-calculator"></i>
      </span>
      <a href="#">מימון רכב</a>
    </div>

    <div class="menu_list">
      <span>
        <i class="fa-solid fa-shield-heart"></i>
      </span>
      <a href="#">יד2 ביטוח רכב</a>
    </div>
  </div>

</div>

