:host{
  position: absolute;
  width: 116px;
  height: 50px;
  top: 82px;
  left: 810px;
  background: white;
}

.right_list{
  position: relative;
  // top:66px;
  // left: 200px;
  width: 116px;
  background: white;
  border-radius: 5px;
  box-shadow:darkgray, 2px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  max-height: 320px;
  overflow-y: scroll;
}

.list_item{
  padding: 8px;

}
.list_item:hover{
  background: lightgray;
}

