<div class="header_open_menu">

    <div class="menu_list">
      <a href="#">
        <span>
          <i class="fa-regular fa-user"></i>
        </span>
        <span>אזור אישי</span>
      </a>
    </div>

    <div class="menu_list">
      <a href="#">
        <span>
          <i class="fa-solid fa-arrow-right-arrow-left"></i>
        </span>
        <span>השוואת מחירים</span>
      </a>
    </div>

    <div class="menu_list">
      <a href="#">
        <span>
          <i class="fa-regular fa-clock"></i>
        </span>
        <span>חיפושים אחרונים</span>
      </a>
    </div>

    <div class="menu_list">
      <a href="#">
        <span>
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </span>
        <span>התנתקות</span>
      </a>
    </div>


</div>
