<div class="main_view">

  <div class="search_container">


    <div class="search_headline">
      <span class="search_headline_right">איזה נכס ל
        <span > <a class="search_headline_link" href="#"> מכירה </a></span>
        <span> תרצו לחפש? </span>
      </span>
      <div class="search_headline_left">
        <i class="fa-regular fa-bell"></i>
        <div class="font_size">קבלו התראות  במייל על החיפוש</div>
      </div>
    </div>

    <div class="search_titles">
      <div class="search_input_w">חפשו אזור, עיר, שכונה,או רחוב</div>
      <div class="search_app_kind_w">סוג נכס</div>
      <div class="search_rooms_w">חדרים</div>
      <div class="search_rooms_w">מחיר</div>
    </div>

    <div class="search_titles">
      <div class="search_input">
        <input class="search_input_w" type="text" placeholder="לדוגמא: נחלאות">
      </div>

      <div class="search_app_kind_w">
        <div class="search_app_kind gray_color">בחרו סוגי נכסים
        <i class="fa-solid fa-chevron-down black_color margin_right_auto"></i>
        <!-- <i class="fa-solid fa-chevron-up"></i> -->
        </div>
      </div>
      <app-filter-appartment-kind></app-filter-appartment-kind>

      <div class="search_rooms_w">
        <div class="search_rooms gray_color">חדרים
        <i class="fa-solid fa-chevron-down black_color margin_right_auto"></i>
        <!-- <i class="fa-solid fa-chevron-up"></i> -->
        </div>
      </div>

      <div class="search_price_w">
        <div class="search_rooms gray_color">מ- </div>
        <div class="search_rooms gray_color">עד-</div>
      </div>

      <div class="advanced_search_button_container">
        <i class="fa-solid fa-circle-plus"></i>
        <span>חיפוש מתקדם</span>
      </div>

      <div class="search_button_container">
        <i class="fa-solid fa-magnifying-glass"></i>
        <span>חיפוש </span>
      </div>

    </div>

  </div>
</div>
