<div class="open_menu_line">
  <input class="df" type="checkbox">
  <span>כל סוגי הנכסים</span>
</div>
<div class="open_menu_line">
  <input class="df" type="checkbox">
  <span>דירות</span>
  <i class="fa-solid fa-chevron-down "></i>
</div>
<div class="open_menu_line">
  <input class="df" type="checkbox">
  <span>בתים</span>
  <i class="fa-solid fa-chevron-down "></i>
</div>
<div class="open_menu_line">
  <input class="df" type="checkbox">
  <span>סוגים נוספים</span>
  <i class="fa-solid fa-chevron-down "></i>
</div>
<div class="open_menu_button">
  <span >בחירה</span>
</div>
